.text
    &--company-title
        paddingTitle()

    @media screen and (max-width: 39.9375em)
        &--profile-label
            text-align: left
.image
    &--company-logo
        margin-right: 4px

.button
    &--tag
        margin-right: 4px
    &--company-answer
        margin: 0 0 0 4px
.section
    &--tags
        margin-top: 1.5rem

.grid
    &--info-list
        margin-top: 1.5rem