.text
    &--explore.h5, &--browse-popular
        commonMargin()
    &--title-popular
        color: #4F6799
        font-size: 2.625rem
    &--banner.h4
        color: #4F6799
        font-size: 2.625rem
        margin-bottom: 2.5rem
    
    &--explore
        margin-top: 3rem
    @media screen and (max-width: 39.9375em)
        &--popular-title
            margin-top: 1rem
.grid--footer
    a
        font-size: 1rem
    
.cell
    &--cat-title
        margin-top: .75rem
        padding-top: .5rem

    
.callout
    &--footer
        background-color: #FFF;
        color: #505D68;
        margin-bottom: 0
        & a
            color: #505D68;
            text-decoration: underline

.social-icons
    display: flex
    list-style: none
    margin: 0

.callout
    &--suggestions
        position: absolute
        top: 40px
        width: 100%
        list-style: none
        z-index: 10

.input-group
    &--search
        text-align: center
.text--search
    text-align: center
    color: #4F6799
    
.suggestion-group
    width: 100%
    &--search
        position: relative
        & .input-group-field
            border-radius: 8px;
.button
    &--search
        margin-top: 8px;
        background: #4f6799
        border-radius: 8px;

.suggestion-link
    display: block
    padding: .5rem
    &:hover
        background: #e6e6e6