.text
    &--banner.h4, &--title-popular, &--explore.h5, &--browse-popular
        commonMargin()
    
    &--explore
        margin-top: 3rem
    @media screen and (max-width: 39.9375em)
        &--popular-title
            margin-top: 1rem
.grid--footer
    a
        font-size: 1rem
    
.cell
    &--cat-title
        margin-top: .75rem
        padding-top: .5rem

    
.callout
    &--footer
        background-color: rgba(23, 121, 186, 0.9);
        color: #FFF;
        margin-bottom: 0
        & a
            color: #FFF;
            text-decoration: underline

.social-icons
    display: flex
    list-style: none
    margin: 0

.callout
    &--suggestions
        position: absolute
        top: 40px
        width: 100%
        list-style: none
        z-index: 10

.suggestion-group
    width: 100%
    &--search
        position: relative

.suggestion-link
    display: block
    padding: .5rem
    &:hover
        background: #e6e6e6