.text
    &--banner.h4, &--title-popular, &--explore.h5, &--browse-popular
        commonMargin()
    
    &--explore
        margin-top: 3rem
    @media screen and (max-width: 39.9375em)
        &--popular-title
            margin-top: 1rem
.grid--footer
    a
        font-size: 1rem
    
.cell
    &--cat-title
        margin-top: .75rem
        padding-top: .5rem

    
