commonMargin()
    margin: 4rem 0 2.5rem

paddingTitle()
    padding: 1.5rem 0px 2.5rem;

@import '*/styles.styl'
@import '*/**/styles.styl'

.container
    max-width: 75rem
    margin: 0 auto

    &--main
        min-height: 100vh

.top-bar
    &--main
        height: 3.75rem;
        background-color: rgba(23, 121, 186, 0.9);
        ul
            background-color: transparent;
        
        li, a
            color: #e6e6e6
        
    .logo
        color: #FFF
    &__search
        max-width: 30rem
        width: 50%
        .input-group
            margin-bottom: 0
        input
            max-width: none

.callout
    border-style: none
    &--grey
        background-color: #f6f7fb;
    &--home-search
        padding-bottom: 2rem
.cell--bordered
    border-style: solid

.medium
    font-size: 35px;
    padding: 0 5px;
    
.small 
    font-size: 20px;
    padding: 0 5px;

.container
    &--top-bar
        background-color: rgba(23,121,186,0.9)
        & .top-bar--main
            background-color: transparent