.image
    &--result-item
        width: 100%
.text
    &--search-result
        padding: 1.5rem 0 2.5rem

.thumbnail
    &--search-company
        margin-right: 24px
        width: 50px

.industry-tag
    & a
        margin-right: 4px;